<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>webpage_beeinternational</title>

</head>
<body>
<nav>
<a href="file:///C:/Users/Karin/Desktop/APP_WEB_FLASK/templates/home.html">Home</a>
<a href="#cursos">Cursos</a>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="file:///C:/Users/Karin/Desktop/APP_WEB_FLASK/templates/home.html">Home</a></li>
  </ol>
</nav>

  <!-- Content here -->
 <img src="img/502honeybee_100592.png" alt="figura estiliazada abeja">
   
   
 

    <!-- Content here -->
    <div class="jumbotron">
      <h1 class="display-4">Somos a Escola de Formacao onde voce sai para Ganhar o MUNDO!</h1>
      <p class="lead"> Aqui voce encontra os melhores recursos para crescer em sua carreira</p>
      <h2> E muito mais!</h2>
      <hr class="my-4">

      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>


  

  </div>
  <div class="jumbotron" style="background-color: black;">
    <h1 class="display-4" style="color: chartreuse;">Nossos Cursos</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p class="lead" style="color: chartreuse;">Un curso de Inglés Pensado para Voce
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active"></div>
          <img class="d-block w-25" src="img/united_states_19271.png" alt="First slide">
        </div>
        <div class="carousel-item active"><h2>Inglés focado en Conversacao</h2></div>
        <div class="carousel-item"></div>
          <img class="d-block w-25" src="img/code_development_github_open_source_programming_source_icon_123274.png" alt="Second slide">
        </div>
        <div class="carousel-item active"><h2>Cursos Para Programadores</h2></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <h2> Fale com a Gente</h2>
      <form>
        <div class="form-group">
        <label for="exampleFormControlInput1" style="font-size: xx-large;">Email:</label>
        <input type="email class"form-control id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <small id="emailHelp" class="form-text text-muted">Fique tranquilo. Nao vamos compartilhar seu email com mais ninguém.</small>
        <div class="form-group">
        <label for="exampleFormControlSelect1" style="font-size: xx-large;">Curso de Interesse</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option> Ingles para Programadores</option>
          <option> Excel </option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        </div>
        <div class="form-group">
        <label for="exampleFormControlSelect2" style="font-size: xx-large;">Qual é a sua principal motivacao para se capacitar?</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>Conseguir Trabalho </option>
          <option>Avançar na minha Carreira</option>
          <option>Conseguir trabalho remoto em Dólares</option>
          <option>4</option>
          <option>5</option>
          </select>
        </div>
        <div class="form-group">
        <label for="exampleFormControlTextarea1" style="font-size: xx-large;">Envia uma Mensagem pra Gente:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Enviar</button>
        
        
      </form>
    </div>
    
      
  </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

